<h2><%= @student.name %></h2>

<h5><label for= "email" style="padding: 5px 0px;">Email</label>
<span id="email"
style="background-color: lightgrey; border-radius: 5px; margin-left: 5em; padding: 5px; display: inline-block; width: 80%; float: right; text-align: left;"><%= @student.email %></span>
</h5>

<br/>

<h5><label for= "roll_no" style="padding: 5px 0px;">Roll No.</label>
<span id="roll_no"
style="background-color: lightgrey; border-radius: 5px; margin-left: 5em; padding: 5px; display: inline-block; width: 80%; float: right; text-align: left;"><%= @student.roll_no %></span>
</h5>

<br/>

<h5><label for= "department" style="padding: 5px 0px;">Department</label>
<span id="department"
style="background-color: lightgrey; border-radius: 5px; margin-left: 5em; padding: 5px; display: inline-block; width: 80%; float: right; text-align: left;"><%= @department.name %></span>
</h5>

<br/>

<h5><label for="section" style="padding: 5px 0px;">Section</label>
<span id="section"
style="background-color: lightgrey; border-radius: 5px; margin-left: 5em; padding: 5px; display: inline-block; width: 80%; float: right; text-align: left; align-content: right;"><%= @section.name %></span>
</h5>
