<h2>Create Students</h2>

<%= form_for(@student) do |f| %>
  <div class="form-group">
    <label>Name</label>
    <%= f.text_field :name, class: "form-control", placeholder: "Student Name", required: true%>
    <br/>    
    <label>Department</label>
    <%= f.select :department_id, @department_collection, { prompt: 'Select Department' }, class: "form-control", :onchange => "hidesec()", id: "dept_select", required: true%>
    <label>Section</label>
    <%= f.select :section_id, @section_collection, { prompt: 'Select Section' }, class: "form-control", id: "sec_select", required: true%>
    <br/>
    <%= f.submit text: "create", class: "btn btn-primary"%>
  </div>
<% end %>

<!-- Function to hide all the sections not belonging to the selected department -->
<script type = 'text/javascript'>
	function hidesec(){
		let secSelect = document.getElementById("sec_select");
		let deptSelect = document.getElementById("dept_select");
		const section_options = secSelect.options;
		const sections = <%= @section_collection.inspect.html_safe %>;

		for(i=secSelect.length-1; i>0; i-=1){
			if(sections[i-1][2]==deptSelect.value){				
				section_options[i].disabled=false;
				section_options[i].style.display="";
			}
			else{
				section_options[i].disabled=true;
				section_options[i].style.display="none";
			}
		}
		secSelect.selectedIndex = 0;
	}
</script>